<html>
    <head>
        <title>Information page</title>
        <!-- CSS Sheet goes here (used it as the assignment 2 asked) -->
        <link rel="stylesheet" type="text/css" href="static\style.css">
    </head>
    <!-- Design justification: i used the same structure of header, main area of content and footer because it eased my work 
        (did not have to design every page individually and the page had clear structure)--> 
    <body>
        <!-- Navigation field goes here -->
        <!-- I used it to separate top from bottom and to create a space where i can input more stuff in future assignment -->
        <header>
            <nav>
                <a href="information.html">About data collection</a>
                <a href="stud_data.html">Student data collection</a>
                <a href="welcome.html">Main page</a>
            </nav>
        </header>

        <main>
            <!-- Text section about benefits of student data collection goes here -->
            <!-- I used sections to stylise every main area content part -->
            <section>
                <h2>Why do we need student's data?</h2>
                <p>Because it can help us in:</p>
                <ul>
                    <li>Identify weak spots of students in academic course</li>
                    <li>Adjust teaching methods</li>
                    <li>Measure effectiveness of current curriculum </li>
                    <li>Enhance the overall academic and social experience</li>
                </ul>
                <p>Your feedback is crucial in helping us to achieve these goals</p>
            </section>
        </main>

        <!-- Footer goes here -->
        <!-- I used footer to make website feel less empty and to separate top and bottom parts of site-->
        <footer>
            <p>2024 GIC</p>
        </footer>
        
    </body>
</html>