<html>
    <head>
        <title>Welcome page</title>
        <!-- CSS Sheet goes here (used it as the assignment 2 asked) -->
        <link rel="stylesheet" type="text/css" href="static\style.css">
    </head>
    <!-- Design justification: i used the same structure of header, main area of content and footer because it eased my work 
        (did not have to design every page individually and the page had clear structure)--> 
    <body>
        <!-- Navigation field goes here -->
        <!-- I used it to separate top from bottom and to create a space where i can input more stuff in future assignment -->
        <header>
            <nav>
                <a href="information.html">About data collection</a>
                <a href="stud_data.html">Student data collection</a>
                <a href="welcome.html">Main page</a>
            </nav>
        </header>

        <main>
            <!--Main content goes here-->
            <h1>About this page:</h1>
            
            <section class="info-section">
                <h2>This page is specifically designed to collect data from students.</h2>
            </section>
    
            <section class="info-section">
                <h2>On the data collection page you can fill out a form and send it.</h2>
            </section>
    
            <section class="info-section">
                <h2>To learn about why do we need the data or to give it, check the header of this page.</h2>
            </section>
        </main>
        

        <!-- Footer goes here -->
        <!-- I used footer to make website feel less empty and to separate top and bottom parts of site-->
        <footer>
            <p>2024 GIC</p>
        </footer>
        
    </body>
</html>